# === Сборка (Build) ===
# Игнорируем папку сборки целиком
build/
bin/
lib/

# === CMake временные файлы ===
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# === Артефакты компиляции (Object files, Libraries, Executables) ===
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out

# Исполняемые файлы твоего проекта (если они создаются не в build)
main
mnist_train

# === Файлы IDE и Редакторов ===
# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# CLion / JetBrains
.idea/
cmake-build-*/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.user

# Прочее
*.swp
*.patch
.DS_Store

# === Данные (Data) ===
# Если в папку с примерами будешь качать MNIST или другие датасеты
*.gz
*.bin
*.csv
/data/
list_tree.txt